Django<4
mysqlclient
gunicorn
lxml
requests
serializers
selenium
beautifulsoup4
django-powercms @ git+https://bitbucket.org/josir/powercms.git@dev3
git+https://github.com/LIAAD/TemporalSummarizationFramework.git