{% extends "base.html" %}

{% block title %}Página não encontrada - {% endblock %}
{% block ogtitle %}Página não encontrada - {% endblock %}

{% block description %}Página não encontrada{% endblock %}
{% block ogdescription %}Página não encontrada{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="media m-b-md">
        <div class="media-body">
            <h4 class="media-heading">Página não encontrada</h4>
            <p>O endereço <strong>“{{ request.build_absolute_uri }}”</strong> foi removido de nossos servidores ou nunca existiu.</p>
            <p>Verifique se a URL digitada está correta e tente novamente.</p>
        </div>
    </div>
</div>
{% endblock %}