{% extends 'base.html' %}
{% load menu_tags cms_tags static vepeinfo_tags %}
{% block title %}Entrevistas | {% endblock %}
{% block content %}
    {% include 'menu.html' %}
    <main class="conteudo flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="titulo">
                        <h2>Entrevistas</h2>
                    </div>
                </div>
            </div>
            <div class="row videos">
                {% if apresentacao %}<div class="d-flex flex-grow-1 justify-content-center">{{ apresentacao.content|safe }}</div>{% endif %}
                 {% for video in videos %}
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="row g-0 no-gutters">
                                <div class="col-md-3 item">
                                    <img src="{{ video.url|get_miniature_video }}" alt="" class="video">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ video.nome_entrevistado }}</h5>
                                        <p class="card-text">{{ video.descricao }}</p>
                                        <a href="{{ video.url }}" target="_blank" class="video-btn btn assistir">Assistir Vídeo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}