{% extends "admin/base_site.html" %}
{% load static  %}

{% block title %}Importação CSV{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
            <strong>{{ f.errors }}</strong>
            <p>{{ f }}</p>
        {% endfor %}
       <div class="d-flex">
           <button style="padding: 10px 15px" type="submit" class="button">Enviar</button>
           {% if error %}<a style="margin-left: 10px" href="{{ error }}">Listagem dos Erros</a>{% endif %}
       </div>
    </form>
{% endblock %}