{% extends 'base.html' %}
{% load menu_tags cms_tags thumbnail static %}


{% block title %}Erro Interno{% endblock %}

{% block content %}
    <div class="internas">
            <div class="titulo">
                <div class="container">
                    <h1>Erro Interno</h1>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class="container">
                <p class="text-center">Desculpe, houve um erro em nosso sistema. Um email foi enviado para nós para podermos resolver esse problema.</p>
            </div>
        </div>

{% endblock %}
