<!DOCTYPE html><html lang="pt-BR"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ site_name }}</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div id="wrapper" dir="ltr" style="background-color: #f7f7f7; margin: 0; padding: 70px 0 70px 0; width: 100%; -webkit-text-size-adjust: none;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"><tr>
<td align="center" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container" style="background-color: #ffffff; border: 1px solid #dedede; box-shadow: 0 1px 4px rgba(0,0,0,0.1); border-radius: 3px;">
<tr>
<td align="center" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="600" id="template_header" style="background-color: #172166; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif; border-radius: 3px 3px 0 0;"><tr>
<td id="header_wrapper" style="padding: 36px 48px; display: block;">
<h1 style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 30px; font-weight: 300; line-height: 150%; margin: 0; text-align: left; text-shadow: 0 1px 0 #a93c61;">{{ site_name }} - Confirmação de E-Mail</h1>
</td>
</tr></table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<!-- Body -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body"><tr>
<td valign="top" id="body_content" style="background-color: #ffffff;">
<!-- Content -->
<table border="0" cellpadding="20" cellspacing="0" width="100%"><tr>
<td valign="top" style="padding: 48px 48px 0;">
<div id="body_content_inner" style="color: #636363; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left;">
    <p style="margin: 0 0 16px;">Olá {{ nome }}!</p>

    <p style="margin: 0 0 16px;">Você está recebendo este email porque solicitou a redefinição da senha da sua conta em {{ site_name }}.</p>
    <p style="margin: 0 0 16px;">Por favor, acesse a seguinte página e escolha uma nova senha:</p>
    <p style="margin: 0 0 16px;"><a href="{{ link }}" rel="nofollow" style="color: #930b3a; font-weight: normal; text-decoration: underline;">clique aqui</a></p>
    <br/>
    <p style="margin: 0 0 16px; color:red">Atenção: este link só dura 48h!</p>
    <p style="margin: 0 0 16px;">Obrigado!</p>
</div>
</td>
</tr></table>
<!-- End Content -->
</td>
</tr></table>
<!-- End Body -->
</td>
</tr>
<tr>
<td align="center" valign="top">
<!-- Footer -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer"><tr>
<td valign="top" style="padding: 0; -webkit-border-radius: 6px;">
<table border="0" cellpadding="10" cellspacing="0" width="100%"><tr>
<td colspan="2" valign="middle" id="credit" style="padding: 0 48px 48px 48px; -webkit-border-radius: 6px; border: 0; color: #be6d89; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center;">
<p>{{ site_name }}</p>
</td>
</tr></table>
</td>
</tr></table>
<!-- End Footer -->
</td>
</tr>
</table>
</td>
</tr></table>
</div>
</body>
</html>