{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {% if change %}
      {% comment %}Carregar antes, por causa de conflito com o jquery do django-admin-tools{% endcomment %}
      <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'js/pagination.min.js' %}"></script>
      <script src="{% static 'js/pagination.js' %}"></script>
      <script>
        (function ($) {
            $(document).ready(function () {
                initPagination('fontes', "{% url 'lista_de_fontes' original.pk %}", paginationDataAsTable);
            });
        })(jQuery);
      </script>
    {% endif %}
  {{ block.super }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/pagination.css" %}">
{% endblock %}

{% block after_related_objects %}
    {% if change %}
      <div class="tabular inline-related last-related">
        <fieldset class="module">
          <h2>FONTES</h2>
          <div id="item-container-fontes"></div>
          <div id="pagination-fontes"></div>
        </fieldset>
      </div>
    {% endif %}
{% endblock %}